.xcx-ssxzs-ssxzscontrol {
    padding: 24px;
    background-color: #fff;
    box-shadow: 0 0 16px 0 #0000000f;
    border-radius: 8px;

    .search {
        padding-top: 20px;

        .search-item {
            width: 100%;
            display: flex;
            line-height: 32px;

            .label {
                width: 100px;
                box-sizing: border-box;
                padding-left: 20px;
                text-align: left;
            }

            .component {
                flex: 1;
            }
        }
    }

    .dialog-content-form {
        padding: 20px;

        .demo-dynamic-flex {
            display: flex;
        }

        .input {
            flex: 1;
        }

        .btn {
            width: 66px;
            text-align: right;
        }

        .el-form-item__label {
            text-align: left;
        }

        .form-item {
            display: flex;
            font-size: 14px;
            padding-bottom: 10px;
            line-height: 22px;

            &-label {
                width: 100px;
                box-sizing: border-box;
                padding-right: 20px;
                color: #333;
                font-weight: 600;
            }

            &-value {
                flex: 1;
                color: #666;
            }
        }
    }

    .table-item {
        text-align: left;
    }

    .table-item2 {
        text-align: left;
    }

    .opendata-detail{
        color: #666;
        font-size: 14px;
        padding-top: 10px;
    }
}